.box {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}

.right {
    float: left;
    width: 900px;
    height: 1000px;
    background-color: rgba(255, 255, 255, .3);
}

.left {
    float: left;
    width: 257px;
    height: 700px;
    background-color: grey;
}

a {
    display: block;
    width: 257px;
    height: 40px;
    font-size: larger;
    text-decoration: none;
    text-indent: 2em;
    color: white;
    margin-top: 20px;
}

a:hover {
    background-color: orange;
}

body {
    background-repeat: no-repeat;
    background-position: center;
}
